<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="model" default="yolov8n.yaml"/>
  <arg name="data" default="coco128.yaml"/>
  <arg name="epochs" default="100"/>
  <arg name="imgsz" default="640"/>

  <arg name="train" default="False"/>
  <arg name="inference" default="False"/>
  <arg name="load_model" default=""/>

  <node pkg="yolov8_ros" type="main.py" name="yolov8" output="screen" ns="yolov8">
    <param name="model" value="$(arg model)"/>
    <param name="data" value="$(arg data)"/>
    <param name="epochs" value="$(arg epochs)"/>
    <param name="imgsz" value="$(arg imgsz)"/>
    <param name="train" value="$(arg train)"/>
    <param name="inference" value="$(arg inference)"/>
    <param name="load_model" value="$(arg load_model)"/>
  </node>
 
</launch>